<div class="box-container">
    <div class="content">
        <tabset>
            <tab heading="Login" id="tab1" >
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Email"
                            [ngClass]="{ 'is-invalid': loginSubmitted && loginGetter.email.errors }" />
                        <div *ngIf="loginSubmitted && loginGetter.email.errors" class="invalid-feedback">
                            <div *ngIf="loginGetter.email.errors.required">Email is required</div>
                            <div *ngIf="loginGetter.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>


                    <div class="form-group ">
                        <label>Password</label>
                        <input type="password" placeholder = "Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': loginSubmitted && loginGetter.password.errors }" />
                        <div *ngIf="loginSubmitted && loginGetter.password.errors" class="invalid-feedback">
                            <div *ngIf="loginGetter.password.errors.required">Password is required</div>
                            <div *ngIf="loginGetter.password.errors.minlength">Password must be at least 20 characters</div>
                            <div *ngIf="loginGetter.password.errors.invalidChar">No Special characters allowed</div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Login</button>
                        <button class="btn btn-secondary" type="reset" (click)="resetLogin()">Cancel</button>
                    </div>

                </form>
            </tab>
            <tab heading="Sign Up">
                <form [formGroup]="signupform" (ngSubmit)="onSignUp()">

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Email"
                            [ngClass]="{ 'is-invalid': signupSubmitted && signUpGetter.email.errors }" />
                        <div *ngIf="signupSubmitted && signUpGetter.email.errors" class="invalid-feedback">
                            <div *ngIf="signUpGetter.email.errors.required">Email is required</div>
                            <div *ngIf="signUpGetter.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" formControlName="username" class="form-control" placeholder="Username"
                            [ngClass]="{ 'is-invalid': signupSubmitted && signUpGetter.username.errors }" />
                        <div *ngIf="signupSubmitted && signUpGetter.username.errors" class="invalid-feedback">
                            <div *ngIf="signUpGetter.username.errors.required">username is required</div>
                            <div *ngIf="signUpGetter.username.errors.username">username must be a valid username address</div>
                            <div *ngIf="signUpGetter.password.errors.invalidChar">No Special characters allowed</div>
                        </div>
                    </div>


                    <div class="form-group ">
                        <label>Password</label>
                        <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': signupSubmitted && signUpGetter.password.errors }" />
                        <div *ngIf="signupSubmitted && signUpGetter.password.errors" class="invalid-feedback">
                            <div *ngIf="signUpGetter.password.errors.required">Password is required</div>
                            <div *ngIf="signUpGetter.password.errors.minlength">Password must be at least 20 characters</div>
                            <div *ngIf="signUpGetter.password.errors.invalidChar">No Special characters allowed</div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Register</button>
                        <button class="btn btn-secondary" type="reset" (click)="resetSignup()">Cancel</button>
                    </div>

                </form>
            </tab>
        </tabset>
    </div>
</div>

